<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %> - Xtb Online Trade</title>
    <link
      rel="icon"
      href="https://crypo-laravel-live.netlify.app/assets/img/favicon.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://crypo-laravel-live.netlify.app/assets/css/style.css"
    />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script> -->
  </head>

  <body id="dark">
    <%- include("./partials/header") %> <%- body %>
    <!-- <script src="//code.tidio.co/9tljo50aq3hyaiclauw1hq6xtb2puv2k.js" async></script> -->
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
      var _smartsupp = _smartsupp || {};
      _smartsupp.key = "e04c539ebd8a3d76537dc3bb281591c68369e515";
      window.smartsupp ||
        (function (d) {
          var s,
            c,
            o = (smartsupp = function () {
              o._.push(arguments);
            });
          o._ = [];
          s = d.getElementsByTagName("script")[0];
          c = d.createElement("script");
          c.type = "text/javascript";
          c.charset = "utf-8";
          c.async = true;
          c.src = "https://www.smartsuppchat.com/loader.js?";
          s.parentNode.insertBefore(c, s);
        })(document);
    </script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="https://crypo-laravel-live.netlify.app/assets/js/jquery-3.4.1.min.js"></script>

    <script src="https://crypo-laravel-live.netlify.app/assets/js/popper.min.js"></script>
    <script src="https://crypo-laravel-live.netlify.app/assets/js/bootstrap.min.js"></script>
    <script src="https://crypo-laravel-live.netlify.app/assets/js/amcharts-core.min.js"></script>
    <script src="https://crypo-laravel-live.netlify.app/assets/js/amcharts.min.js"></script>

    <script src="https://crypo-laravel-live.netlify.app/assets/js/custom.js"></script>

    <%- script %>
  </body>
</html>
